/* --------------- Color variable properties ---------------*/
:root {
    --main-color: rgb(39, 61, 112);
    --button-color: rgb(230, 30, 123);
    --button-hover: rgb(247, 64, 149);
    --nav-active: rgb(200, 204, 96);
    --ribbon-background: rgb(106, 149, 100);
    --ribbon-text-highlight: rgb(231, 237, 126);
    --white-color: rgb(255, 255, 255);
    --border-color: rgb(234, 234, 235);  /* #EAEAEB */
    --dark-text: rgb(52, 56, 65);
    --pink-text: rgb(230, 32, 126);
    --orange-text: rgb(245, 166, 35);
    --green-text: rgb(118, 160, 91);
    --white-text: rgb(255, 255, 255);
    --card-border-color: rgb(204, 204, 204);
    
}

/* --------------- Global styles ---------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 	1.2rem; 
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.button-secondary {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--white-color);
    text-transform: uppercase;
}

/* --------------- Header styles ---------------*/

header {
    background-color: var(--main-color);
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* --------------- Header styles ---------------*/

.ribbon {
    background-color: var(--ribbon-background);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: var(--white-text);
    padding: 1rem;
}

p {
    margin: auto;
}

.inline-ribbon-text {
    color: var(--ribbon-text-highlight);
}

.site-content-items {
    padding: 7rem 0;
}

/* --------------- Image slider carousel styles ---------------*/

.slider{
	max-width: 700px;
	border:10px solid  var(--main-color);
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 20px;

}

.slider .slider-items .item.active{
	display: block;
}

/* --------------- Badge styles ---------------*/

.badge {
    width: 18%;
    height: 18%;
    float: right;
    margin: 0% 10%;
    padding: 2rem 0;
}

/* --------------- Card location styles ---------------*/

h4 {
    margin-bottom: 0;
}

.area-location {
    margin-bottom: 2rem;
}

.weather {
    margin-bottom: 1rem;
}

.contact {
    margin-bottom: 1rem;
}

/* --------------- Card option styles ---------------*/

.card {
    padding: 0.3rem;
    text-align: center;
    font-size: 11px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* --------------- Card Date styles ---------------*/

.card-date {
    border-radius: 2px;
    border: 0.0625rem solid  var(--card-border-color);
    padding: 1rem;
}

a:hover, .colored-text-date {
    color: var(--pink-text);
    float: right;
}

.date {
    font-size: 4rem;
    margin-right: -1rem;
}

.date-labels {
    display: inline-block;
    font-size: 1.3rem;
}

.second-date {
    display: inline-block;
}

.fa-arrow-right {
    padding: 0.5rem 0.5rem;
}

/* --------------- Card Price styles ---------------*/

button.button-primary {
    background: var(--button-color);
    border-color: var(--button-color);
}

button.button-primary:hover {
    background: var(--button-hover);
    border-color: var(--button-hover);
}

button.button-primary:active {
    background: var(--button-hover);
    border-color: var(--button-hover);
}

button.button-primary:focus {
    background: var(--button-hover);
    border-color: var(--button-hover);
}

.discount {
    background-color: var(--orange-text);
    padding: 0.5rem 0.5rem;
    color: var(--white-text);
    font-weight: 600;
} 

.price {
    color: var(--orange-text);
    font-size: 3.5rem;
}

.currency-symbol {
    color: var(--orange-text);
    font-size: 1.5rem;
}

.extra-text-pricing{
    display: inline-block;
    color: var(--green-text);
    font-size: 1rem;
}

.currency-text-checkmark, .fa-check {
    color: var(--green-text);
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    /* body {
        overflow: hidden;
    } */
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
    /* body {
        overflow: hidden;
    } */
}