

/* color properties */
:root {
    --main-color: rgb(34, 60, 116);
    --button-color: rgb(196, 73, 124);
    --nav-active: rgb(200, 204, 96);
    --ribbon-background: rgb(92, 151, 94);
    --ribbon-text-highlight: rgb(211, 230, 103);
    --white-color: rgb(255, 255, 255);
    --border-color: rgb(234, 234, 235);  /* #EAEAEB */
    --dark-text: rgb(52, 56, 65);
    --pink-text: rgb(196, 73, 124);
    --orange-text: rgb(223, 122, 66);
    --green-text: rgb(117, 169, 95);
    --white-text: rgb(255, 255, 255);
    
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Global */

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: var(--main-color);
    padding: 5% 0;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* ribbon */
.ribbon {
    background-color: var(--ribbon-background);
    text-align: center;
    text-transform: uppercase;
    padding: 1.5% 0;
}

.inline-ribbon-text {
    color: var(--ribbon-text-highlight);
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
    .nav {
        background-image: url(../img/rebelMouse_logo_icon.png);
        background-repeat: no-repeat;
    }

    label {
        color: var(--white-color);
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .nav {
        background-image: url(../img/rebelMouse_logo_icon.png);
        background-repeat: no-repeat;
    }

    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .nav {
        background-image: url(../img/rebelMouse_logo_icon.png);
        background-repeat: no-repeat;
    }

    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}