/* import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* basic resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

/* custom color properties */
:root {
    --button: #2d2c2c;
    --main-color: #4d3f34;

}